body {
	font-family:		arial, helvetica, serif;
	font-size:			12px;
	padding:			0px;
	margin:				0px;
	max-width:			1000px;
}


nav { display: flex; }
/* CSS */
nav a { 
  flex-grow: 1;
  margin: 5px 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height:30px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

nav a:hover {
  background: #F6F9FE;
  color: #174ea6;
}

nav a:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

nav a:focus {
  outline: none;
  border: 2px solid #4285f4;
}


/* Basic links and spacing of the Content DIV */
#content{padding: 15px 15px;}
#content a, a img{ text-decoration: none; border:	0px;}
#content a:hover{text-decoration: underline; color: blue;}
#content a:visited, #content a:link, #content a:active{color:	blue;}

/* Define our elements */
br{	clear: left;}
h1{	font-size:	30px; margin:	10px 0px 0px 0px;}
h2{	text-decoration: underline; margin: 10px 0px; }
h3{	font-style:	italic; padding: 0px; margin:	10px 10px 0px 10px;}

/* Edit and Delete buttons */
.editButton:after   { content: '✏️' ; }
.deleteButton:after { content: '❌'; }
.editButton, .deleteButton { margin: 0 5px; text-decoration: none !important; }
.editButton:hover, .deleteButton:hover { background: lightgray; }
.editButton img, .deleteButton img { display: none; }

table{
	width:				100%; 
	border-collapse:	collapse;
	margin:				5px;
	text-align:			left;
	white-space:		nowrap;
	display:            inline-table;
}
td{	border:solid 1px black;	white-space: nowrap;}
thead{background: black; color: white; font-weight:	bold;}
tfoot{background: #88a; color: black; font-weight:	bold;}
table.compact{ width: 550px; }
table.smart { margin: 0; width: 100% ; }
table.smart th a { color: white !important; text-decoration: underline !important; cursor: pointer; }
table.smart th a.ascending:after  { content: '▲'; }
table.smart th a.descending:after { content: '▼'; }
.smartTableControls { clear: both; width: 100%; background: none; margin: 10px 0; display: flex; align-items: baseline; }
.smartTableControls input, .smartTableControls select { font-size: smaller; }
.smartTableControls input { flex-grow: 1; }
.smartTableControls b { margin-left: 12px; margin-right: 2px; }
.smartTableControls b:first-child { margin-left: 0; }
td.controls img { max-height: 12px; }
td.controls img+img { margin-left: 10px; }
td.controls{width:	20px;}

iframe{display:	none; border:0px none;}
/* *********** Modal Window *********** */
div#modalBackground{
    position:			fixed;
    left:				0;
    top:				0;
    width:				100%;
    height:				100%;
	z-index:			999;
	background-color:	#333333;
	display:			none;
	opacity:			0.40;
	filter:				alpha(opacity=40)
}
div#modalWindow{
    position:			fixed;
    left:				0;
    top:				0;
	z-index:			1000;
	display:			none;
	width:				auto;
	height:				auto;
}
div#modalWindow fieldset{ border: none; width: 600px; padding: 10px; }
div.edit{width: 600px;}
div.edit img{border: solid 1px black;}
div.modal{display:none; text-align: center; background: black; padding-bottom: 10px; }
/* only display the cancel button when it's inside a modal! */
.modalCancel { display: none; }
div.modal .modalCancel { display: inline-block; }

/* *********** FORM STYLES *********** */
form { position: relative; }
form div {
	position:			relative; 
	float:				left; 
	margin-right:		10px;
}
form .instructions { font-style: italic; clear: both; }
div.header input {
	position:			relative; 
	float:				left;
	font-size:			30px; 
	font-weight:		bold; 
	margin:				10px 0px 0px 0px;
	font-family:		arial, helvetica, serif;
}
div.header span {
	font-size:			30px; 
	font-weight:		bold;
	font-family:		sans-serif; 
	margin-bottom:		10px;
	clear: none;
}
td span{ margin: 3px; padding:0px; }
fieldset{
	text-align: 		left;
	width:				98%; 
	margin:				10px 0px; 
}
fieldset span.formInput { display: inline-block; margin: 2px; }
legend { font-weight: bold; }
input, select, textarea {
	padding: 2px; 
	font-family: arial, helvetica, 
	serif; 
	font-size:12px;
}
input[required=yes]+label::after {content: '*'; color: red; }
label {
	font-size:			11px;
	display:			block;
	color:				black;
	margin:				0px 0px 5px 2px;
	clear:				left;
	z-index:			0;
	-moz-user-select:	none;
    -khtml-user-select: none;
    user-select:		none;
}
#Err{
	position:			fixed;
	top:				0px;
	left:				0px;
	background:			url(../images/popup.gif) top left no-repeat;
	padding:			20px 10px 10px 10px;
	z-index:			10000;
	width:				230px;
	display:			none;
	font:				arial, helvetica, serif;
	color:				black;
}

div.modal label{ color: white; }
div.modal legend{ background: white; }
input.dropdown { font-size: 12px; }

form.locked :not(.buttons, .smartTableControls)>input, form.locked textarea { border: none; pointer-events: none; resize: none; border-bottom: solid 1px black; }
form.locked *::-webkit-input-placeholder { visibility: hidden; }
form.locked :not(.smartTableControls)>select {
    border: none;
    pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  border-bottom: solid 1px black;
}
form.locked .instructions, form.locked .buttons input[title=Save], form.locked .buttons input[title=Delete] { display: none; } 
form.unlocked .buttons input[title=Edit] { display: none; } 

form.locked input[title=Save] { display: none; }
form.locked input[title=Cancel] { display: none; }
form.locked input[title=Delete] { display: none; }
form .buttons { position: absolute; right: 1em; top: 1em; }
form .buttons * { width: 32px; height: 32px; }
form .buttons *:first-child { margin-right: 5px;}
/* *********** CALENDAR STYLES *********** */
/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family:		Tahoma, Arial, Helvetica, sans-serif;
	font-size:			10px;
	text-align:			center;
	color:				#505050;
	background-color:	#ece9d8;
	width:				120px;
	border-collapse:	collapse;
	border:				2px solid black;
	z-index:			1;
	margin:				0px;
	}

/* date */
.dpTD {border: 1px solid #ece9d8;}

/* highlighted date */
.dpDayHighlightTD { background-color:	#CCCCCC; border: 1px solid #AAAAAA;}

/* mouseover date */
.dpTDHover { background-color:	#aca998; border: 1px solid #888888;color: red; cursor: pointer;}

/* Heading cell (Mo, Tu, We, etc.) */
.dpDayTD {background-color: #CCCCCC; border: 1px solid #AAAAAA; color: black;}

.dpTD a, .dpTable a{color: black;}


/* *********** Draggable Lists *********** */
ul.draggable {margin: 5px; padding: 10px 5px; list-style-type: none; border: solid 1px black;}
li.draggable {
	list-style-type:	none;
	list-style-position:inside;
	display:			block;
	padding:			0px;
	margin:				0px;
	width:				375px;
	font-size:			11px;
	font-family:		Arial, sans-serif;
	position:			relative;
	cursor:				move;
	z-index:			5;
	background-color:	#eee;
	white-space:		nowrap;
}
li.draggable input{
	-moz-user-select:	none;
    -khtml-user-select: none;
    user-select:		none;}

table.draggable{width: 375px; margin: 0px; padding: 0px; white-space: nowrap;}
table.draggable td{width: 125px; margin: 0px; padding: 0px; white-space: nowrap;}

/* ajax processing box example */
div#JSMX_loading{
	position:			fixed;
	top:				20px;
	right:				150px;
	margin:				0px;
	padding:			0px;
	width:				112px;
	height:				30px;
	background-image:	url(processing.gif);
	background-repeat:	no-repeat;
	background-position:center center;
	z-index:			200;
}

@media print {
	body					{background: white; width: 650px}
	div span, td span		{display: block; margin: 1px; padding: 0px;}
	form label				{border-top: 1px solid gray; display: block;}
	div.header label		{display: none;} 
	fieldset				{clear: both; margin: 10px;}
	td.controls				{display: none;}
	div#filter label, div#filter select, div#filter input, div#filter textarea, div#filter .datepicker
							{display: block; float:	left;}
	form select, form input, form textarea, form .datepicker, i, p, br
							{display: none;}
	img						{display: none;}
	td,tr					{margin: 0px; padding: 0px;}
	table{display: inline-block;}
}
